.apeintosh-content {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    // cursor: url("../../../../../assets/images/pictures/backgrounds/old-cursor.png"), auto;
    h1 {
        text-transform: capitalize;
    }
}